<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personel Github Site">
    <meta name="keywords" content="Bharath,github">
    <meta name="author" content="Devel-Batty">
    <!-- CSS -->
    <!-- load bootstrap (bootswatch version) -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="font/pacifico.woff2" />
    <link rel="stylesheet" type="text/css" href="">
    <!-- JS -->
    <!-- load angular, ngRoute, ngAnimate -->
    <script src="lib/jQuery.js"></script>
    <!--   <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script> -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="app.js"></script>
</head>
<!-- apply our angular app -->

<body ng-app="battyApp" ng-controller="mainController as mc">
    <!-- inject our views using ng-view -->
    <!-- each angular controller applies a different class here -->
    <nav class="header" >
        
        <div class="menuItems" ng-click="mc.changeTab(this)">
            <a data-link="me" class="">Me</a>
            <a data-link="works" class="">My Works</a>
            <a data-link="course" class="">Musings</a>
        </div>
       
    </nav>
    <div class="page" ng-view></div>
    <div id="menuIconId" class="menuIcon" ng-click="mc.toggleMenu(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!--  <div class="logo"></div> -->
</body>

</html>
